/* ------------------------------------ RESET */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
pre,
img,
ol,
ul,
li,
button,
footer,
header,
menu,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;

    text-decoration: none!important;
    text-transform: uppercase;
}

ol,
ul {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: 2px;
}


html {
    -webkit-text-size-adjust: 100%; /* prevent font scaling in landscape while allowing user zoom */
    background-color: var(--bg-color);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricprecision;

    height: 100svh;
    width: 100%;
    max-height: 100svh;
    min-height: 100svh;

    /*overflow-y: hidden; for Flickity*/
}

/* ------------------------------------ FONT */

@font-face {
    font-family: 'r';
    src: url(Regular.woff);
}

@font-face {
    font-family: 'm';
    src: url(Medium.woff);
}

* {
    /*overflow: hidden;*/
    font-family: 'r', Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 13px!important;
    color: var(--w-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

/* ------------------------------------ VARIABLES */

:root {
    --bg-color: black;
    --w-color: white;
    --border-color: rgb(69, 69, 69);

    --space-lr-line: 0px;
    --space-lr: 18px;
    --space-tb: 9px 0px;

    --bar: 30px;
    --main-h: calc(100svh - (var(--bar) + var(--imagecaption-h)));
    /*--main-h2: calc(100svh - var(--bar-4));*/
    --footer-h: calc(var(--bar) * 3);
    --imp-pp-hh: calc(100svh - var(--bar));
    
    
    --footer-imgcaption-h: calc(var(--footer-h) + var(--imagecaption-h));
    --bar-4: calc(var(--bar) * 4);

    --cptn-1: calc(100svh - (var(--bar) + var(--footer-imgcaption-h)));

    --t-time: 0.36s;
    --transition: var(--t-time) cubic-bezier(.4,0,.6,1);
}

/* ------------------------------------ HEADER */

.index {
    z-index: 999;
}

.alp {
    display: none;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 255, 255, 0.089);
    top: 0px;
    left: 0px;
    height: 100svh;
    width: 100%;
    overflow: hidden;
}

.header {
    position: fixed;
    z-index: 6;
    width: 100%;
    overflow: hidden;
}

/* ------------------------------------ SKELETON / MAIN */

.h-space {
    display: none;
    height: var(--bar);
    min-height: var(--bar);
    transition: height var(--transition);
}

.m-space {
    height: var(--main-h);
    transition: height var(--transition);
}

.m-space.scrolled {
    height: calc(var(--main-h) - var(--footer-h));
    transition: height var(--transition);
}

.m-space.closed {
    height: 0px;
    transition: height var(--transition);
}

/* ------------------------------------ FOOTER/MENU */

.footer {
    position: fixed;
    bottom: calc(var(--footer-h) * -1);
    z-index: 6;
    width: 100%;
    background-color: transparent;
    transition: bottom var(--transition);
}

footer.open {
    bottom: 0px;
    transition: bottom var(--transition);
}



.caption-h {
    min-height: 60px;
}



.outer-div {
    border-bottom: 1px solid var(--border-color);
}

.outer-div.closed {
    border-bottom: 0px solid var(--border-color);
}

.inner-div {
    height: calc(var(--cptn-1) - 17px);
    margin-top: 9px;
    margin-bottom: 9px;
    overflow: auto;
    
    transition: var(--transition);
}

.inner-div.closed {
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    transition: var(--transition);
}



.outer-div-2 {
    border-bottom: 1px solid var(--border-color);  
}

.outer-div-2.closed {
    border-bottom: 0px solid var(--border-color);
}

.inner-div-2 {
    height: calc(var(--cptn-1) - 17px);
    margin-top: 9px;
    margin-bottom: 9px;
    overflow: auto;
    
    transition: var(--transition);
}

.inner-div-2.closed {
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    transition: var(--transition);
}



.imp-pp-outer-div {
    border-top: 1px solid var(--border-color);  
}

.imp-pp-outer-div.closed {
    border-top: 0px solid var(--border-color);
}

.imp-pp-inner-div {
    height: calc(var(--imp-pp-hh) - 18px);
    margin-top: 9px;
    margin-bottom: 9px;
    overflow: auto;
    
    transition: var(--transition);
}

.imp-pp-inner-div.closed {
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    transition: var(--transition);
}

.imprint {
    display: none;
}

.imprint.displayed {
    display: block;
}

.privacy-policy{
    display: none;
}

.privacy-policy.displayed{
    display: block;
}

/* ------------------------------------ CURTAIN */

.curtain {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: -10vw;
    width: 120vw;
    height: 100%;
    z-index: 3;
    opacity: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: opacity var(--transition);
}

.blur {
    filter: saturate(180%) blur(3px);
}

/* ------------------------------------ GENERAL */

.bar {
    height: var(--bar);
}



.space-lr-line {
    width: calc(100% - var(--space-lr-line));
    margin: 0 auto;
}

.space-lr {
    width: calc(100% - var(--space-lr));
    margin: 0 auto;
}

.padding-l {
    padding-left: calc(var(--space-lr) / 2);
}

.padding-r {
    padding-right: calc(var(--space-lr) / 2);
}

.padding-tb {
    padding: var(--space-tb);
}

.margin-tb {
    margin: var(--space-tb);
}

.grid {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
    align-content: center;
}

.caption {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
    align-content: start;
}

.divide {
    width: calc(100% / 12 * 6);
}

.border-btm {
    border-bottom: 1px solid var(--border-color);
}

.border-top {
    border-top: 1px solid var(--border-color);
}

.medium-font {
    font-family: 'm', Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

/* ------------------------------------ TEXT */

.center-text {
    text-align: center;
}

.justify-text {
    hyphens: auto; 
    text-align: justify;
    text-align-last: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* ------------------------------------ COLOR */

.bg-black {
    background-color: black;
}

.blendmode {
    color: white;
    mix-blend-mode: difference;
}

/* ------------------------------------ HOVER */

.back {
    display: none;
}

.topleft:hover .back {
    display: initial;
}
  
.topleft:hover .title {
    display: none;
}

/* ------------------------------------ SCROLLBAR */

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* ------------------------------------ EXPERIMENTAL */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apl {
    background: rgba(22, 22, 23, .8);
    backdrop-filter: saturate(180%) blur(20px);
}

.ibm-crypto {
    background-color: transparent;
    background-image: linear-gradient(180deg,rgba(0,0,0,.4),hsla(0,0%,6%,.1));
}

/*backdrop-filter: blur(9px);*/

/* ------------------------------------ FLICKITY */

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}

* {
	scrollbar-width: none;
}

/* or 
html {
    overflow-y: hidden; for Flickity
}
*/

img {
    object-fit: contain; /* cover */
    height: 100%;
    width: 100%;
}

.carousel-cell {
    height: 100%;
    width: 100%;
}

/*
.flickity-button {
    width: 50%;
    height: 100%;
    opacity: 0 !important;
}
*/


/*
.shadow {
    background: linear-gradient(to top,
    rgba(0, 0, 0, 0) 30%,
    rgb(0, 0, 0, 0.6) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
}
*/

/* ------------------------------------ SCROLL SNAP */

/*html, body {overflow: auto;} is important*/

/*
.snappable {
    scroll-snap-type: y mandatory;
}

.snap {
    scroll-snap-align: start;
}
*/

/* ------------------------------------ MOBILE */

@media screen and (max-width: 800px) {
    .flickity-prev-next-button {
        display: none;
      }
}

@media screen and (min-width: 1500px) {
   
}



/*
GOOD BACKDROP FILTER

-webkit-backdrop-filter: blur(30px);
backdrop-filter: blur(30px);
background-color: rgba(255,255,255,.04);
border: 1px solid #323234; 


backdrop-filter: blur(3rem);
background-color: rgba(225, 225, 225, 0.5);
*/
