html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
footer,
header,
menu,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;

    text-decoration: none!important;
}

p {
    margin-bottom: 16px;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

input {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    height: 41px;
    outline: none;
}
@font-face {
    font-family: 'bb';
    src: url(Regular.woff);
}

@media screen and (max-width: 800px) {

    html,
    body {
      position: fixed;
      height: 100%;
      width: 100%;
      overflow: auto;
    }
}

* {
    font-family: 'bb', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

/* --------- header --------- */
.header {
    position: sticky;
    z-index: 9;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    /*backdrop-filter: blur(9px);*/
}

/* --------- scroll-snap --------- */
/*html, body {overflow: auto;} is important*/
html,
body {
    scroll-snap-type: y mandatory;
}

.snap {
    scroll-snap-align: start;
}

/* --------- media --------- */

.media {
    height: 100dvh;
}

/* --------- footer --------- */
.footer {
    
    background-color: transparent;

}

/* --------- general --------- */

.element {
    height: 41px;
    width: 100%;
}

.row {
    width: calc(100% - 40px);
    margin: 0 auto;
    
}

.height40 {
    height: 41px;
}

.center {
    display: flex;
    justify-content: center;
}

.divide {
    width: calc(100% / 12 * 6);
}

.border-btm {
    border-bottom: 1px solid black;
}

.border-top {
    border-top: 1px solid black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
    align-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.thediv {
    width: 100%;
}

.blur {
    filter: blur(4px);
}

.margin-bottom {
    margin-bottom: 16px;
}

.padding-text {
    padding: 61px 20px 20px 20px;
}

.right {
    text-align: right;
}

.black {
    background-color: white;
}

.back {
    display: none;
}

.topleft:hover .back {
    display: initial;
}
  
.topleft:hover .title {
    display: none;
}
